html, body{     
    margin: 0; 
    font: 16px "Lato", sans-serif;
    height: 100%;
    overflow-x: hidden;    
}
body{
    background-color: #514CA0;
}

/* Barra de navegação principal
****************************/
nav.navbar-transparente{
    padding: 15px 0px;
    background: rgba(0, 0, 0, 0.6);
}
.navbar-light .navbar-nav .nav-link {    
    padding: 20px;
    color: #fff;     
    font-size: 15px;
    font-weight: 600;  
    letter-spacing: 1px;       
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #3a918c
    
}
nav.navbar{        
    padding: 15px 0px;       
}
.btn-custom{
    letter-spacing: 1px;
    font-size: 1.5em;
    background-color: #514CA0;
}
.btn-custom a{
    text-decoration: none;
    text-transform: uppercase;
    color: #111;
}
/* Barra de navegação pag2
****************************/

#nav-secundaria .navbar-nav a{
    font: "Lato", sans-serif ;
    color: #111;
    text-transform: uppercase;
    font-size: 0.8em;
}
#nav-secundaria .navbar-nav a:hover{
    color: #514CA0;
    text-transform: uppercase;
    font-size: 0.8em;
    text-decoration: underline;
}
/**************************
parallax */
.caixa2 h3{
    text-align: center;
}
.caixa1, .caixa2, .caixa3, .caixa4 {
    position: relative;
    height: 100%;    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
}

.caixa1 {
    background-image: url(img/imagem1.jpg);
}
.caixa2 {
    background-color: #fff;
    background-image: url(img/fundocity.jpg);
    
}
.caixa3{
   background-color: #fff;
}
.conteudo-titulo {
    position: absolute;
    left: 0;
    top: 45%;
    width: 100%;
    text-align: center;
}
.conteudo-titulo span.titulo {
    color: #fff;
    background-color: #111;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 5px;
    text-transform: uppercase;
}
/*Rodapé
-------------------------------*/
footer {
    background: #3a918c;
    padding: 50px 0 20px 0;
    position: relative;

}
footer h4{
    color: #111;
    font-size: 0.8em;
    text-transform: uppercase;
}
footer .navbar-nav a{
    color: #11101d;
    font-size: 0.8em;
}
footer .navbar-nav a:hover{
    color: #9bf0e1;
    font-size: 0.8em;
    text-decoration: none;
}
footer ul{
    list-style: none;
}
footer ul li{
    float: right;
    margin: 0 5px;
}
footer p a {
    margin: 5px 15px;
}


/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
    #logo img{
        width: 160px;
        
    }
    .navbar-light .navbar-nav .nav-link{
        padding: 5px;
    }
    
   
 }

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
    #logo img{
        width: 160px;        
    }
    .navbar-light .navbar-nav .nav-link{
        padding: 5px;
    }
    
    
 }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
    .navbar-light .navbar-nav .nav-link{
        padding: 5px;
    }
   
 }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
   
 }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 

 }
